* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: a1;
    src: url(font/Ananda\ Black\ Personal\ Use.ttf);
}
@font-face{
    font-family: a2;
    src: url(font/Winkle-Regular.otf)
}
@font-face{
    font-family: a3;
    src: url(font/Winkle-Regular.otf)
}
@font-face{
    font-family: a4;
    src: url(font/LTCushion-Medium.ttf)
}


body{
    background-color: #f4f1e8;
}

.atas{
    height: 30rem;
}
.atas1{
    display: flex;
    justify-content: center;
    margin: 16.5rem 0 20px 0;
    color: #9b4819;
    font-size: 35px;
    font-family: a1;
}

.atas2{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    margin: 0 10% 0 10%;
    font-family:a2;
}

.atas3{
    display: flex;
    justify-content: center;
    margin-top:10px;
    color: #9b4819;
    font-family: a3;
}

.panah{
    position: relative;
    width: 50px; 
    top: 50px;
}
.latar{
    z-index: 1;
    margin-top: rem;
    width: 100%;
    border-radius: 40px;
}

.tengah{
    position: relative;
    background: linear-gradient(#0c3560,#e48281);
    border-radius: 45px;
    width: 100%;
    height:3700px ;
    margin-inline: auto;
}

.tekskanan{
    display: flex;
    justify-content:right;
}
.tekskiri{
    display: flex;
    justify-content:left;
}
.tekstengah{
    display: flex;
    justify-content:center;
    text-align: center;
}

.bawah{
    position: relative;
    display:flex;
    justify-content: center;
    margin-top: 200px;
    text-align: center;
    height: 500px;
}

.teks1-1{
    background-color: #f3d0d7;
    position: absolute;
    width: 650px;
    top: 140px;
    padding: 20px 30px 20px 25px;
    border-radius: 35px 0 0px 35px;
    font-size: 65px;
    font-family: a2;
    display: flex;

}
.teks1-2{
    background-color: #f3d0d7;
    position: absolute;
    width: 550px;
    top: 700px;
    padding: 20px 30px 20px 20px;
    border-radius: 0px 25px 25px 0px;
    font-size: 60px;
    font-family: a2;
    display: flex;

}
.teks1-3{
    background-color: #f3d0d7;
    position: absolute;
    width: 610px;
    top: 1500px;
    padding: 20px 30px 20px 25px;
    border-radius: 35px 0 0px 35px;
    font-size: 50px;
    font-family: a2;
    display: flex;

}
.teks1-4{
    background-color: #f3d0d7;
    position: absolute;
    width: 85%;
    top: 2500px;
    padding: 30px;
    border-radius: 45px;
    font-size: 50px;
    font-family: a2;
    display: flex;

}
.teks2-1{
    position: absolute;
    width: 85%;
    font-size: 25px;
    font-family: a4;
    color: #9b4819;
}
.teks2-2{
    position: absolute;
    width: 85%;
    margin-top: 25;
    font-size: 25px;
    top: 120px;
    font-family: a4;
    color: #9b4819;
}
.foto1{
    position: relative;
    width: 600px;
    right: 50px;
    top: 70px;
}
.foto2{
    position: relative;
    width: 490px;
    right: 75px;
    top: 120px;
    border-radius: 50px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}
.foto3{
    position: relative;
    width: 500px;
    top: 180px ;
    border-radius: 0px 35px 35px 0px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}
.foto4{
    position: relative;
    width: 420px;
    top: 220px ;
    border-radius: 0px 35px 35px 0px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}
.foto5-1{
    position: relative;
    width: 15px;
    top: 220px ;
    border-radius:25ppx;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}
.foto5-1{
    position: relative;
    right: 50px;
    width: 250px;
    top: -120px ;
    border-radius:25px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}
.foto5-2{
    position: relative;
    width: 250px;
    top: -450px ;
    left: 230px;
    border-radius:25px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}
.foto5-3{
    position: relative;
    width: 250px;
    left: 500px;
    top: -700px ;
    border-radius:25px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}

@media screen and (max-width: 480px) {
    .tengah{
        height: 1550px;
    }
    .atas1{
        font-size: 28px;
    }
    .teks1-1{
        width: 150px;
        font-size: 20px;
        top: 85px;
    }
    .teks1-2{
        width: 160px;
        font-size: 18px;
        top:320px;
    }
    .teks1-3{
        width: 145px;
        font-size: 16px;
        top: 600px;
    }
    .teks1-4{
        width: 75%;
        font-size: 15px;
        top: 1100px;
        border-radius: 25px;
        padding: 20px;
    }
    .teks2-1{
        top: 100px;
        font-size: 20px;
    }
    .bawah{
        margin-top: 300px;
    }
    .teks2-2{
        font-size: 13px;
        top: 700px;
    }
    .foto1{
        width: 225px;
        right: 25px;
        top: 70px;
    }
    .foto2{
        width:140px;
        right: 20px;
        top: 140px;
        border-radius: 25px;
    }
    .foto3{
        width: 150px;
        border-radius: 0 15px 15px 0;
        top: 160px;
    }
    .foto4{
        width: 150px;
        border-radius: 0 15px 15px 0;
        top: 200px;
    }
    .foto5-1{
        width: 65px;
        left:0px;
        top: 100px;
        border-radius: 15px;
    }
    .foto5-2{
        width: 65px;
        left: 80px;
        top: 15px;
        border-radius: 15px;
    }
    .foto5-3{
        width: 65px;
        left: 160px;
        top: -50px;
        border-radius: 15px;
    }
}
@media screen and (min-width: 481px) and (max-width:920px) {
    .tengah{
        height: 3050px;
    }
    .teks1-1{
        width: 400px;
        font-size: 45px;
        top: 85px;
    }
    .teks1-2{
            width: 450px;
            font-size: 40px;
            top: 500px;
        }
        .teks1-3{
            width: 400px;
            font-size: 40px;
            top: 1000px;
        }
        .teks1-4{
            width: 85%;
            font-size: 35px;
            top: 2100px;
        }
        .teks2-2{
            top: 180px;
            font-size: 18px;
        }
        .foto1{
            width: 400px;
            right: 45px;
            top: 70px;
        }
        .foto2{
            width: 270px;
            right: 22px;
            top: 125px;
        }
        .foto3{
            width: 350px;
            border-radius: 0 25px 25px 0;
            top: 275px;
        }
        .foto4{
            width: 350px;
            border-radius: 0 25px 25px 0;
            top: 310px;
        }
        .foto5-1{
            right: -0px;
            width: 170px;
            top: 85px ;
        }
        .foto5-2{
            width: 170px;
            left: 400px;
            top: -110px 
        }
        .foto5-3{
            width: 170px;
            top: -350px ;
            left: 200px;
        }
    }
    
